@import "../../scss/index.scss";

.preloader-icon {
  stroke-dasharray: 0 250;
  animation: preloader 4s infinite;
}

@keyframes preloader {
  0% {
    stroke-dasharray: 0 250;
    transform: rotate(0);
  }

  50% {
    stroke-dasharray: 255 250;
    transform: rotate(650deg);
  }

  100% {
    stroke-dasharray: 0 250;
    transform: rotate(0);
  }
}
