@import "../../scss/index.scss";

.custom-select {
  display: inline-block;
  padding: 8px 15px;
  height: 40px;
  border: 2px solid $accent-color;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}
