@import '../../scss/index.scss';

.custom-input {
  padding: 8px 15px;
  height: 40px;
  max-width: 220px;
  width: 100%;
  border: 2px solid $accent-color;
  font-size: 18px;
  outline: none;
  line-height: inherit;

  &::placeholder {
    color: inherit;
  }
}
